{% extends 'base.html' %}


{% block head %}
<!-- Import chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Custom CSS -->
<link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container">
  <main>
    <h1 class="text-center m-2">{{data.title}}</h1>
    <p class="m-2" style="font-size: 20px;">{{data.description}}</p>
    <canvas class="my-4 chartjs-render-monitor" id="myChart" width="100vw" height="50vh"
      style="display: block; width: 935px; height: 394px;">
    </canvas>
  </main>
</div>

<script>
  const ctx = document.getElementById('myChart');

  const generateGraph = (ctx, context) => {
    let graph_data = context
    new Chart(ctx, {
      type: graph_data['type'] || 'bar',
      data: {
        labels: graph_data.labels,
        datasets: [{
          label: graph_data.graph_title,
          data: graph_data.data,
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  }

  generateGraph(ctx, {{ data|tojson }});

</script>

{% endblock %}