{% extends 'base.html' %}


{% block head %}
<!-- Import chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Custom CSS -->
<link href="{{url_for('static', filename='index.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <!--<h1 class="text-center">Twitter-TIP</h1>-->
    <div class="navbar">
        <img src="static/logo.png" class="logo">
        
    </div>

    <div class="row">
        <div class="col">
            <h1>Twitter-TIP</h1>
            <p>Lo scopo del progetto è quello di valutare l’affidabilità e la qualità di Twitter come
                piattaforma di threat intelligence, confrontando le segnalazioni di IoC pubblicate nel
                mese di settembre 2022 a quelle presenti su piattaforme di TI riconosciute, tra cui
                MalwareBazaar, VirusTotal, Kaspersky OpenTip, HashLookup, AlienVault, MISP</p>
            
        </div>
        <div class="col_1">
            <div class="card graphs">
                <a href="{{ url_for('dashboards') }}">
                <h5>Graphs</h5>
                <p>Scrivere qualcosa che descriva la card .....</p>
                </a>
            </div>
            <div class="card tables">
                <a href="{{ url_for('tables') }}">
                    <h5>Tables</h5>
                    <p>Scrivere qualcosa che descriva la card .....</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}